.container {
    width: inherit;
}

.button {
    padding: 0 24px;
    color: var(--textPrimary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}

.red {
    background-color: var(--error);
}

.small {
    height: 24px;
}

.medium {
    height: 32px;
}

.large {
    height: 40px;
}