.button {
    height: 40px;
    padding: 0 24px;
    background-color: var(--primary);
    color: var(--textPrimary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}