.container {
    display: flex;
}

.menu {
    flex: 1;
    background-color: var(--bgSecondary);
    padding: 16px;
    min-height: 100vh;
}

.content {
    flex: 6;
}

.main {
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 16px;
    background-color: var(--bgPrimary);
    min-height: 90vh;
    justify-content: space-between;
}