.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: var(--bgSecondary);
    width: 30%;
    padding: 32px;
    border-radius: 16px;
    height: 400px;
}