.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    background-color: var(--bgSecondary);
    width: 30%;
    padding: 32px;
    border-radius: 16px;
    min-height: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;

}